.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 20px;
}

.description {
    padding: 0;
    margin-inline: 1rem;
}

.heading {
    padding: 0;
    margin: 0;
}

.close {
    background: none;
    color: #FFf;
    border: 1px solid #fff;
    padding: 8px 12px 8px 12px;
    border-radius: 4rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
}

.close:hover {
    scale: 1.2;
}

@media (max-width: 435px) {
    .container {
        width: 80vw;
        padding: 20px;
    }
}